<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
	<style>
		/* 입력란의 너비 조정 */
		.form-group {
			width: 30%;
			margin: 0 auto;
			margin-bottom: 30px;
		}

		.form-control {
			height: 50px;
		}
	</style>
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">


	<script th:inline="javascript">
		$(document).ready(function () {


			var errorMessage = [[${errorMessage}]];
			if (errorMessage != null) {
				alert(errorMessage);
			}




	

	</script>

	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script>
		function sample6_execDaumPostcode() {
			new daum.Postcode({
				oncomplete: function (data) {
					// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

					// 각 주소의 노출 규칙에 따라 주소를 조합한다.
					// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
					var addr = ''; // 주소 변수
					var extraAddr = ''; // 참고항목 변수

					//사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
					if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
						addr = data.roadAddress;
					} else { // 사용자가 지번 주소를 선택했을 경우(J)
						addr = data.jibunAddress;
					}

					// 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
					if (data.userSelectedType === 'R') {
						// 법정동명이 있을 경우 추가한다. (법정리는 제외)
						// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
						if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
							extraAddr += data.bname;
						}
						// 건물명이 있고, 공동주택일 경우 추가한다.
						if (data.buildingName !== '' && data.apartment === 'Y') {
							extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
						}
						// 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
						if (extraAddr !== '') {
							extraAddr = ' (' + extraAddr + ')';
						}
						// 조합된 참고항목을 해당 필드에 넣는다.
						document.getElementById("sample6_extraAddress").value = extraAddr;

					} else {
						document.getElementById("sample6_extraAddress").value = '';
					}

					// 우편번호와 주소 정보를 해당 필드에 넣는다.
					document.getElementById('sample6_postcode').value = data.zonecode;
					document.getElementById("sample6_address").value = addr;
					// 커서를 상세주소 필드로 이동한다.
					document.getElementById("sample6_detailAddress").focus();
				}
			}).open();
		}
	</script>

</th:block>

<div layout:fragment="content">
	<form action="/mypage" role="form" method="post" th:object="${member}">
		<div class="form-group">
			<h2>마이페이지</h2>
		</div>
		<div class="form-group">
			<label th:for="email">이메일</label>
			<input type="email" th:field="*{email}" class="form-control" readonly="true">
			<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="fieldError">Incorrect data</p>
		</div>
		<div class="form-group">
			<label th:for="name">이름</label>
			<input type="text" th:field="*{name}" class="form-control">
			<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="fieldError">Incorrect data</p>
		</div>



		<div class="form-group">
			<label th:for="email">주소</label>
			<div style="display: flex">
				<input type="text" id="sample6_postcode" placeholder="우편번호" class="form-control">
				<input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기" class="btn btn-primary"><br>
			</div>
			<input type="text" th:field="*{address}" class="form-control">
			<p th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="fieldError">Incorrect data</p>
			<input type="text" th:field="*{detailAddress}" class="form-control">
			<p th:if="${#fields.hasErrors('detailAddress')}" th:errors="*{detailAddress}" class="fieldError">Incorrect
				data</p>
			<input type="text" id="sample6_extraAddress" placeholder="참고항목" class="form-control">
		</div>
		<div class="form-group">
			<label th:for="password">비밀번호 변경</label>
			<input type="password" th:field="*{password}" class="form-control">
			<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="fieldError">Incorrect data</p>
		</div>
		<!--<div class="form-group">
				<label th:for="confirmPassword">비밀번호 확인</label>
				<input type="password" th:field="*{confirmPassword}" class="form-control" placeholder="비밀번호 확인해주세요">
				<p th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="fieldError">
					Incorrect data</p>
			</div>-->
		<div style="text-align: center">
			<button type="submit" class="btn btn-primary" >정보 수정하기</button>
		</div>
	</form>
</div>

</html>